.capella {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100%;

    &__drag-n-drop {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 30px;
        padding: 40px 0;
        border: 2px dashed var(--border-color);
    }

    &__contents {
        text-align: center;
        p {
            max-width: 430px;
        }
    }

    &__logo {
        display: inline-block;
        margin: 16px auto 80px;
    }

    &__button {
        display: inline-block;
        vertical-align: middle;
        padding: 0 30px;
        margin-top: 32px;
        border: 0;
        border-radius: 25px;
        background: var(--bg-button);
        font-family: inherit;
        line-height: 51px;
        color: var(--text-white);
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &::before {
            content: url(/public/app/svg/instagram-logo.svg);
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 10px 0 -5px;
        }

        &:hover {
            background: var(--bg-button-hover);
        }
    }

    &__input {
        margin-top: 40px;
        padding-bottom: 10px;
        background: transparent;
        border-color: transparent;
        border-bottom: 2px solid rgba(181,155,218,0.44);
        border-radius: 0;
        text-align: center;
        font-family: inherit;
        font-size: 17px;
        line-height: 1.3em;
        color: var(--text-white);
        -webkit-appearance: none;
        outline: none;

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.1s 0.1s ease; 
        };

        &::-webkit-input-placeholder {
            color: var(--input-placeholder);
        }
    }

    &__uploading {

        margin-top: 250px;

        &-title {
            margin-bottom: 12px;
            font-size: 22px;
        }

        &-progress {
            margin: 13px auto;
        }

        &-link {
            display: block;
            color: inherit;
            font-size: 15px;
            text-decoration: none;
        }
    }
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Capella main page mobile
    */
    .capella {
        align-items: flex-start;
        overflow-y:scroll;
        overflow-x:hidden;

        &__drag-n-drop {
            align-items: flex-start;
            width: 100%;
            height: auto;
            padding: 20px 0;
            border: 0px solid transparent;
        }

        &__logo {
            margin-bottom: 50px;
        }

        &__button {
            margin: 50px auto 0;
        }

        &__contents {
            padding: 0 10px;

            p {
                margin: 0 auto;
            }
        }

        &__uploading {
            margin-top: 100px;
            &-progress {
                width: 200px;
            }
        }
    }

}