.capella {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100% - 40px);
    box-sizing: border-box;
    margin: 0 40px;
    padding: 20px 0;
    border: 2px dashed #564C90;
    border-radius: 6px;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
    font-family: Helvetica;
    color: #b59bda;

    &-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background: url(/public/app/img/Bg-overlay.jpg);
        text-align: center;
    }

    &__contents {
        p {
            max-width: 430px;
        }
    }

    &__logo {
        display: inline-block;
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__title {
        margin: 16px auto 86px;
    }

    &__button {
        display: inline-block;
        vertical-align: middle;
        padding: 0 30px;
        margin-top: 35px;
        border: 0;
        border-radius: 25px;
        background: #6c0bd1;
        line-height: 51px;
        color: #fff;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &::before {
            content: url(/public/app/svg/instagram-logo.svg);
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 10px 0 -5px;
        }

        &:hover {
            background: #6004c0;
        }
    }

    &__input {
        margin-top: 40px;
        padding-bottom: 10px;
        background: transparent;
        border-color: transparent;
        border-bottom: 2px solid #B59BDA;
        border-radius: 0;
        text-align: center;
        font-family: Helvetica;
        font-size: 16px;
        color: #fff;
        -webkit-appearance: none;
        outline: none;

        &::-webkit-input-placeholder {
            color: #b59bda;
        }
    }

}


/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Capella main page mobile
    */
    .capella-background {
        padding: 15px;
        align-items: flex-start;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .capella {
        align-items: flex-start;
        width: 100%;
        height: auto;
        border: 0px solid transparent;
        font-size: 17px;

        &__title {
            margin-bottom: 50px;
        }

        &__button {
            margin: 80px auto 35px;
            padding: 0 20px;
        }

        &__contents {
            padding: 0 10px;

            p {
                margin: 0 auto;
            }
        }
    }
}