.capella {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100%;

    &__uploading {
        display: none;
    }

    &__drag-n-drop-activator {
        display: none;
    }

    &--dark {
        background: var(--bg-dark);

        .capella__drag-n-drop {
            position: relative;
            border-color: var(--dnd-active-border-color);
        }

        .capella__dark-contents {
            opacity: 0.3;
        }

        .capella__drag-n-drop-activator {
            display: block;
            position: absolute;
            bottom: 40px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            font-size: 33px;
            color: var(--text-dark-purple);

            img {
                display: block;
                margin: 15px auto;
            }
        }
    }

    &--loading {

        .capella__logo {
            margin-bottom: 10px;
        }

        .capella__dark-contents {
            display: none;
        }

        .capella__uploading {

            display: block;

            &-title {
                margin-bottom: 12px;
                font-size: 22px;
            }

            &-progress {
                height: 5px;
                width: 277px;
                background: #0d0918;
                border-radius: 3px;
                margin: 13px auto;

                div {
                    height: 100%;
                    background: #830cff;
                    border-radius: 3px;
                    transition: width 0.4s, transform 0.4s;
                }
            }

            &-filename {
                font-size: 15px;
            }
        }

    }

    &__drag-n-drop {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 30px;
        padding: 40px 0;
        border: 2px dashed var(--dnd-border-color);
    }

    &__contents {
        height: 470px;
        text-align: center;

        p {
            max-width: 430px;
        }

        a {
            color: #8051ff;
            text-decoration-line: none;
        }
    }

    &__logo {
        display: inline-block;
        margin: 16px auto 80px;
    }

    &__button {
        display: inline-block;
        vertical-align: middle;
        padding: 0 30px;
        margin-top: 32px;
        border: 0;
        border-radius: 25px;
        background: var(--bg-button);
        font-family: inherit;
        line-height: 51px;
        color: var(--text-white);
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &::before {
            content: url(/public/app/svg/instagram-logo.svg);
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 10px 0 -5px;
        }

        &:hover {
            background: var(--bg-button-hover);
        }
    }

    &__input {
        margin-top: 40px;
        padding-bottom: 10px;
        background: transparent;
        border-color: transparent;
        border-bottom: 2px solid rgba(181, 155, 218, 0.44);
        border-radius: 0;
        text-align: center;
        font-family: inherit;
        font-size: 17px;
        line-height: 1.3em;
        color: var(--text-white);
        -webkit-appearance: none;
        outline: none;

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.1s 0.1s ease;
        };

        &::-webkit-input-placeholder {
            color: var(--input-placeholder);
        }
    }
}

.safari .capella__uploading {
    margin-top: 250px;
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Capella main page mobile
    */
    .capella {
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;

        &__drag-n-drop {
            align-items: flex-start;
            width: 100%;
            height: auto;
            padding: 20px 0;
            border: 0 solid transparent;
        }

        &__logo {
            margin-bottom: 50px;
        }

        &__button {
            margin: 50px auto 0;
        }

        &__contents {
            height: auto;
            padding: 0 10px;

            p {
                margin: 0 auto;
            }
        }

        &--loading {
           .capella__uploading {
                margin-top: 100px;

                &-progress {
                    width: 200px;
                }
            }
        }


    }

}
