.capella-background {
    background-size: cover;
    background: url(/public/app/img/Bg-overlay.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.capella {
    background-size: 100% 100%;
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 40px);
    height: 700px;
    margin: 0 auto;
    border: 2px dashed #564C90;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.5em;
    font-family: Helvetica;
    color: #b59bda;

    &__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        p {
            max-width: 430px;
        }
    }

    &__logo {
        display: inline-block;
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 86px;
    }

    &__button {
        display: inline-block;
        background: #6c0bd1;
        padding: 0 30px;
        margin-top: 35px;
        border-radius: 25px;
        color: #fff;
        line-height: 51px;
        vertical-align: middle;
        -webkit-appearance: none;
        outline: none;
        border: 0;
        cursor: pointer;

        &::before {
            content: url(/public/app/svg/instagram-logo.svg);
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin-right: 10px;
            margin-left: -5px;
        }

        &:hover {
            background: #6004c0;
        }
    }

    &__input {
        background: transparent;
        border-color: transparent;
        border-bottom: 2px solid #B59BDA;
        -webkit-appearance: none;
        margin-top: 40px;
        padding-bottom: 10px;
        text-align: center;
        outline: none;
        font-family: Helvetica;
        font-size: 16px;
        color: #fff;

        &::-webkit-input-placeholder {
            color: #b59bda;
        }
    }

}


/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Capella main page mobile
    */
    .capella-background {
        padding: 15px;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .capella {
        position: initial;
        background-image: none;
        width: 100%;
        height: auto;
        transform: none;
        font-size: 17px;

        &__title {
            margin-bottom: 50px;
        }

        &__button {
            padding: 0 20px;
        }

        &__contents {
            position: initial;
            margin-top: 80px;
            margin-bottom: 80px;
            padding: 0 10px;
            transform: none;

            p {
                margin: 0 auto;
            }
        }
    }
}