.result {
    position: relative;
    background: var(--bg-black);
    color: var(--text-gray);
    font-size: 14.5px;

    a {
        color: inherit;
        text-decoration: none;
    }

    input {
        width: 121px;
        background: transparent;
        border: 0px solid transparent;
        color: inherit;
        text-align: right;
        outline: none;

        &:first-of-type {
            margin-left: 10px;
        }
    }

    &__img {
        align-self: center;
        width: auto;
        height: 470px;
        padding: 40px 0;
    }

    &__icon-copy {
        width: 15px;
        height: 17px;
        margin-right: 15px;
        vertical-align: text-bottom;
    }

    &__copy-mobile {
        display: none;
        margin: 13px 0;
        padding: 0 9px;
        background: var(--bg-button-gray);
        line-height: 33px;
        border-radius: 2px;

        img {
            margin-right: 5px;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 20px;
        background: var(--bg-black);

        &-logo {
            margin-right: 35px;
        }

        &-filters {
            padding: 14px 0;
        }

        &-about {
            display: flex;
            align-items: center;
            padding: 14px 0;
            border-top: 1px solid var(--border--gray);
        }

        &-link {
            line-height: 20px;

            &:not(:first-of-type)::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: var(--marker-gray);
                margin: 0 0.5em 0 0.8em;
            }
        }

        .codex-team {
            margin-left: auto;
            color: var(--text-white);
        }
    }
}
/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    .result {
        flex-direction: column;
        justify-content: flex-start;

        &__img {
            max-width: calc(100% - 30px);
            height: auto;
            padding: 0;
            margin: 15px auto;
        }

        &__copy-mobile {
            display: inline-block;
        }

        &__footer {
            padding: 0 15px;

            &-filters {
                display: none;
            }

            &-link {
                &:not(:first-of-type)::before {
                    margin: 0 0.5em;
                }
            }
            
            .codex-team {
                margin-left: 0;
                color: inherit;

                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: var(--marker-gray);
                    margin: 0 0.5em;
                }
            }

            &-logo {
                margin-right: auto;
            }
        }
    }
}