# Ignore vendor dir
vendor/

# Ignore upload dir
upload/

# Ignore all config files
config.php

# Ignore dev env
.idea/

# Ignore environment settings
.env
node_modules/
npm-debug.log
.DS_Store
.htaccess
