/** CSS reset <https://github.com/necolas/normalize.css> */
@import 'normalize.css';

/**
 * Base components
 */
@import url('variables.css');
@import url('base.css');
@import url('spaceship.css');
@import url('notifier.css');

/**
 * Pages
 */
@import url('pages/index.css');
@import url('pages/project-form.css');
@import url('pages/result.css');
