html, body {
    height: 100%
}
body {
    background-size: cover;
    background: var(--bg-main) url(/public/app/img/space-bg.jpg);
    background-position: center;
    font-family: system-ui;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5em;
    color: #aea2d9;
}
.js-hidden {
    opacity: 0 !important;
}