html, body {
    height: 100%
}
body {
    background-size: cover;
    background: var(--bg-main) url(/public/app/img/space-bg.jpg);
    background-position: center;
    font-family: system-ui;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5em;
    color: #aea2d9;
}
.hide {
    display: none !important;
}

/**
 * Styles for progress bar
 */
progress {
    display: inline-block;
    vertical-align: baseline;
    border: 0px solid transparent;
    border-radius: 3px;
    background: #0d0918;
    width: 277px;
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
progress::-webkit-progress-bar {
    border-radius: 3px;
    background: #0d0918;
}
progress::-webkit-progress-value {
    border-radius: 3px;
    background: #830cff;
}
progress::-moz-progress-bar { 
    background: #830cff;
}
