.spaceship {
    animation: sniff 10s linear infinite;
    transform-origin: center;
}

#nozzle {
    animation: nozzle 2s linear infinite;
}

@keyframes sniff {
    0% {
        transform: rotate3d(0, 0, 0, 0) scale(1, 1);
    }
    35% {
        transform: rotate3d(0, 0, 0, 0) scale(1, 1);
    }
    40% {
        transform: rotate3d(-0.1, 0.1, 0, 50deg) scale(.8, .8);
    }
    45% {
        transform: rotate3d(-0.1, 0.1, 0, 20deg) scale(.6, .6);
    }
    50% {
        transform: rotate3d(0,0,0,0) scale(.6, .6);
    }
    85% {
        transform: rotate3d(0,0,0,0) scale(.6, .6);
    }
    90% {
        transform: rotate3d(-0.1, 0.1, 0, -20deg) scale(.6, .6)
    }
    95% {
        transform: rotate3d(-0.1, 0.1, 0, -50deg) scale(.8, .8);
    }
    100% {
        transform: rotate3d(0, 0, 0 ,0) scale(1, 1);
    }
}

@keyframes nozzle {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.15, 1.15);
    }
    100% {
        transform: scale(1, 1);
    }
}