.zoneupload {
    position: relative;
    width: 300px;
    border: 5px solid coral;
    padding: 10px;
}

.zoneupload legend {
    color: black;
    font-size: 2em;
}

.zoneupload .filez {
    height: 160px;
    width: 300px;
    background-color: coral;
}

.zoneupload small {
    position: absolute;
    margin: -20px 0 0 10px
}

.zoneupload #activite {
    color: white
}

.zoneupload #send {
    position: absolute;
    right: 2px;
    bottom: 2px
}

.zoneupload-next {
    position: relative;
    width: 300px;
    border: 5px solid coral;
    padding: 10px;
}

.zoneupload-next legend {
    color: black;
    font-size: 2em;
}

.zoneupload-next .link {
    height: 160px;
    width: 300px;
    background-color: coral;
}
