# Ignore dir for vendor modules
vendor/

# Ignore dir for uploads
upload/

# Ignore environment settings
.env

# Ignore all config files
config.php

# Ignore install.php
/install.php

# Ignore dev env
.idea/

# Node
node_modules/
npm-debug.log

# Other
.DS_Store
